.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.navigation__text {
  display: flex;
  margin-right: 90px;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.navigation__text--color {
  color: var(--accent-color);
}

.navigation-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-text-color);
}

.navigation-contact__item {
  display: flex;
  align-items: center;

  &:first-child {
    margin-right: 30px;
  }
}

.navigation-contact__icon {
  fill: var(--main-text-color);
  margin-right: 10px;
  transition: fill var(--transition-time) var(--transition-function),
    box-shadow var(--transition-time) var(--transition-function);
}

.navigation-contact__link {
  padding: 30px 0;
  display: flex;
  align-items: center;

  &:hover .icon,
  &:focus .icon {
    fill: var(--accent-color);
  }
}
